.signUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.75);
}
.signUp .signUpDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    border-radius: 4px;
    background: #fff;
    font-size: 12px;
    height: 400px;
    margin-top: -207px;
}
.signUp .signUpDiv .header {
    display: flex;
}
.signUp .signUpDiv .header > h2 {
    padding: 15px 0 0 30px;
    font-size: 18px;
    color: #3d3d3d;
    font-weight: normal;
}
.signUp .signUpDiv .header > button {
    padding: 7px;
    margin-left: 240px;
    margin-top: 10px;
    border-radius: 4px;
}

.signUp .signUpDiv .signUpForm {
    position: relative;
    padding: 25px 25px 0px 30px;
}
.signUp .signUpDiv .signUpForm .inputField{
    margin-bottom: 28px;
    display: flex;
}
.signUp .signUpDiv .signUpForm .inputField > label {
    width: 92px;
    line-height: 42px;
    padding-left: 10px;
    background: rgba(90, 61, 61, 0);
    font-size: 14px;
    color: #686868;
    text-align: left;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.signUp .signUpDiv .signUpForm .inputField > input {
    float: left;
    width: 246px;
    height: 44px;
    line-height: 45px;
    padding: 0 10px;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    border: 1px solid #dbdbdb;
}


.signUpButton {
    width: 338px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    border: none;
    background: #00C091;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 30px;
}
.signUp .signUpDiv .signUpButton:hover {
    background-color: rgb(18, 208, 161);
}

.signUp .signUpDiv .footer {
    margin-left: 200px;
    margin-top: 25px;
    font-size: 1.2em;
}
.signUp .signUpDiv .footer > a {
    text-decoration: none;
    color: #00c091;
}
