<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线简历编辑器</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/resume.css">
    <link rel="stylesheet" href="./css/editable-span.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_779612_j7pskpwb16.css">
    <link rel="stylesheet" href="./css/signUp.css">
    <link rel="stylesheet" href="./css/share-link.css">
    <link rel="stylesheet" href="./css/print.css" media="print">
</head>

<body>
    <div class="page" id="app">
        <!-- 左侧功能栏 -->
        <aside v-show="mode === 'edit'">
            <div class="upper">
                <ul class="actions">
                    <li>
                        <button class="button" @click="onClickSave">保存</button>
                    </li>
                    <li>
                        <button class="button" @click="print">打印</button>
                    </li>
                    <li>
                        <button class="button" @click="onShare">分享</button>
                    </li>
                </ul>
            </div>
            <div class="down">
                <button class="button" @click="onLogout" v-show="hasLogin()">登出</button>
            </div>
        </aside>

        <!-- 主要信息部分 -->
        <main>
            <div class="resume">
                <!-- 个人信息模块 -->
                <section class="profile">
                    <h1>个人信息</h1>
                    <p class="profile">
                        <editable-span :disabled="mode === 'preview'" :value="displayResume.name" @edit="onEdit('name',$event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" :value="displayResume.weChat" @edit="onEdit('weChat',$event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" :value="displayResume.phone" @edit="onEdit('phone',$event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" :value="displayResume.email" @edit="onEdit('email',$event)"></editable-span>
                        <editable-span :disabled="mode === 'preview'" :value="displayResume.github" @edit="onEdit('github',$event)"></editable-span>
                    </p>
                </section>

                <!-- 技能模块 -->
                <section class="skills">
                    <h2>技能</h2>
                    <ul>
                        <li v-for="skill,index in displayResume.skills">
                            <editable-span class="name" :disabled="mode === 'preview'" :value="skill.name" @edit="onEdit(`skills[${index}].name`, $event)"></editable-span>
                            <div class="description">
                                <editable-span :disabled="mode === 'preview'" :value="skill.description" @edit="onEdit(`skills[${index}].description`, $event)"></editable-span>
                            </div>
                            <span class="remove" @click="removeSkill(index)" v-if="index >= 2 && mode === 'edit'">x</span>
                        </li>
                        <li v-if="mode === 'edit'" class="add">
                            <span @click="addSkill">添加技能项</span>
                        </li>
                    </ul>
                </section>

                <!-- 项目模块 -->
                <section class="projects">
                    <h2>项目经历</h2>
                    <ol>
                        <li v-for="project,index in displayResume.projects">
                            <header>
                                <div class="start">
                                    <h3 class="name">
                                        <editable-span :disabled="mode === 'preview'" :value="project.name" @edit="onEdit(`projects[${index}].name`, $event)"></editable-span>
                                    </h3>
                                    <span class="link">
                                        <editable-span :disabled="mode === 'preview'" :value="project.link" @edit="onEdit(`projects[${index}].link`, $event)"></editable-span>
                                    </span>
                                </div>
                                <span class="remove" @click="removeProject(index)" v-if="index >= 2 && mode === 'edit'">x</span>
                            </header>
                            <p class="description">
                                <editable-span :disabled="mode === 'preview'" :value="project.description" @edit="onEdit(`projects[${index}].description`, $event)"></editable-span>
                            </p>
                        </li>
                        <li v-if="mode === 'edit'" class="add">
                            <span @click="addProject">添加项目</span>
                        </li>
                    </ol>
                </section>
            </div>
        </main>

        <!-- 使用自定义组件 -->
        <login v-show="loginVisible" @close="loginVisible = false" @login="onLogin"></login>
        <sign-up v-show="signUpVisible"></sign-up>
        <share :share-link="shareLink" v-show="shareVisible"></share>

        <button class="exitPreview" @click="mode = 'edit'" v-if="mode === 'preview'">退出预览</button>
    </div>


    <script src="../vendors/av-min.js"></script>
    <script src="./js/av.js"></script>
    <script src="../vendors/vue.min.js"></script>

    <script src="./js/editable-span.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/signUp.js"></script>
    <script src="./js/share.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
